<div class="container container-center">
  <h1 style="padding-bottom: 24px;">Your <%= @list.name %> List</h1>
  <%= link_to "Back to lists", root_path, class: "btn-ghost-red-sm" %>
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn-ghost-red-sm" %>
  <hr>
  <div class="cards-container">
    <div class="cards">
      <% @movies.each do |movie| %>
        <div class="card" style="width: 18rem">
          <img src="<%= movie.poster_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
